.formlogin {

    width: 289.09px;
    height: 254.85px;
    margin-left: 225px;
    margin-top: 380px;
}

.input1 {

    width: 289px;
    height: 51px;

    background: #F5F5F5;
}

.input2 {

    width: 289px;
    height: 51px;

    background: #F5F5F5;
}

.btnLogin {

    width: 288.09px;
    height: 51.22px;

}