.formCadastroHospede {
    background: -webkit-linear-gradient(0deg, #b5dea4, #8fbd80, rgba(255, 255, 255, 0.692));
    background: linear-gradient(0deg, #b5dea4, #8fbd805b, rgba(255, 255, 255, 0.363));
    position: absolute;
    z-index: 1;
    border-radius: 0.5em;
    width: 30%;
    height: 80%;
    margin-top: -270px;
    opacity: 9;
    font-weight: bold;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input1 {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
    font-size: 10px;
}

::placeholder {
    color: rgb(49, 48, 48);
    border-color: rgb(49, 48, 48);
}

.btnCadastrar {

    width: 30%;
    height: 40px;
    background-color: #b5dea4;
    border: none;
    color: black;
    margin: 10px 0;
    border-color: #b5dea4;
    border-radius: 3px;

}

.validaSenha {
    font-size: 9px;
}

.h4TitleCasdastro {
    color: rgb(58, 57, 57);
    font-size: 15px;
}

@media (max-width: 375px) {
    .formCadastroHospede {
        position: relative;
        width: 100%;
        display: flex;
        margin-right: 500px;
    }

    .h4TitleCasdastro {
        align-items: center;
        text-align: center;
    }
}


@media (max-width: 390px) {
    .formCadastroHospede {
        position: relative;
        width: 100%;
        display: flex;
        margin-right: 500px;
    }

    .h4TitleCasdastro {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 820px) {
    .formCadastroHospede {
        position: relative;
        width: 100%;
        display: flex;
        margin-right: 500px;
    }

    .h4TitleCasdastro {
        align-items: center;
        text-align: center;
        font-size: 20px;
    }
}