.section {
    width: 800px;
    margin: auto;
    font-size: 1.0625rem;
    text-align: center;
    color: #373737;
    line-height: 2rem;
    letter-spacing: .05em;
    margin-top: 50px;
}

.separador {
    width: 50%;
    margin-bottom: 10px;
    margin-left: 200px;
}

.img {
    width: 50%;
    height: 255px;
}


.lista {
    text-transform: uppercase;
    margin: 10px;
}

.spa.img {
    width: 380px;
    height: 100px;
}

.subtitulo,
.pSevicos {
    font-size: 22px;
    margin: 20px;
    text-align: center;
    font-style: italic;

}




@media(max-width:1024px) {
    .section {
        width: 100%;
    }

    .imageContainerSeparator {
        width: 80%;
    }
}


@media(max-width:768px) {

    .section {
        width: 75%;
    }

    .imageContainerSeparator {
        width: 100%;
        margin-left: -90px;
    }

}
@media(max-width:426px) {

    .section {
        width: 100%;
    }

    .imageContainerSeparator {
        width: 100%;
        margin-left: -90px;
    }

}