.section {
    width: 800px;
    margin: auto;
    font-size: 1.0625rem;
    text-align: center;
    color: #373737;
    line-height: 2rem;
    letter-spacing: .05em;
}


.img {
    width: 255px;
    height: 255px;
}


.lista {
    text-transform: uppercase;
    margin: 10px;
}

.spa.img {
    width: 380px;
    height: 100px;
}

.subtitulo,
.pSevicos {
    font-size: 22px;
    margin: 20px;
    text-align: center;
    font-style: italic;

}


@media(max-width:768px) {

    .section {
        width: 75%;
    }

}