@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

.slider {
  overflow: hidden;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 550px;
}

.pTitleHomeQuarto {
  align-items: center;
  text-align: center;
}

.slider .pCarrossel {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 30px;
  font-size: 1.0625rem;
  color: #373737;
  line-height: 2rem;
  letter-spacing: .05em;
  line-height: 1.5rem;
  color: #373737;
}

.linkQuarto {
  align-items: center;
  text-align: center;
  margin-bottom: 35px;
  color: #373737;
  font-size: 1.0625rem;
}

.img {

  width: 450px;
  height: 340px;

}

.slider .figure .img {
  width: 20%;
  float: left;
}

.slider .figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite;
  -webkit-animation: 10s slidy infinite;

}




@media(max-width:768px) {

  .slider {
    width: 340px;
    height: 300px;
  }

}