.formlogin {
    background: -webkit-linear-gradient(0deg, #447a37, #8fbd80, #b5dea4);
    background: linear-gradient(0deg, #447a3771, #8fbd80, #b6dea455);
    position: absolute;
    z-index: 1;
    right: 0;
    border-radius: 0.5em;
    width: 65%;
    height: 112%;
    opacity: 9;
    font-weight: bold;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    color: rgb(49, 48, 48);
}

.input {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: rgb(49, 48, 48);
    ;

}

.btnLogin {
    width: 100px;
    height: 35px;
    background-color: #b5dea4;
    border: none;
    color: rgb(49, 48, 48);
    margin: 10px 0;
    border-color: #b5dea4;
    border-radius: 3px;
    margin-top: 0px;
    cursor: pointer;
}

.linkCadastro {
    position: absolute;
    width: 288.09px;
    height: 51.22px;
    margin-left: 150px;
    margin-top: 230px;
    color: rgb(49, 48, 48);
    font-size: 15px;
}

.banner {
    position: absolute;
    z-index: 2;
    right: 65%;
    border-radius: 0.5em;
    width: 35%;
    height: 100%;
    flex-direction: column;
    background-color: #447a3769;
    opacity: 9;
    color: rgb(49, 48, 48);
    text-align: center;
}

.container {
    position: relative;
    width: 40%;
    height: 50%;
    opacity: 9;
    border-radius: 0.5em;
}

.logo {
    width: 10vw;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.h4Login,
.labelLogin {
    font-size: 15px;
    align-items: center;
    text-align: center;
    /* border-color: rgb(49, 48, 48); */
}

.validaSenha {
    font-size: 9px;
    color: #000000 bold;
    ;
}