.formlogin {
    position: absolute;
    width: 289.09px;
    height: 254.85px;
    margin-left: 225px;
    margin-top: 380px;
}

.input1 {
    position: absolute;
    width: 289px;
    height: 51px;
    margin-left: 30px;
    margin-top: 0px;
    background: #F5F5F5;
}

.input2 {
    position: absolute;
    width: 289px;
    height: 51px;
    margin-left: 30px;
    margin-top: 70px;

    background: #F5F5F5;
}

.btnLogin {
    position: absolute;
    width: 288.09px;
    height: 51.22px;
    margin-left: 30px;
    margin-top: 140px;
}

.linkCadastro {
    position: absolute;
    width: 288.09px;
    height: 51.22px;
    margin-left: 30px;
    margin-top: 200px;
}