 .main {

    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    
} 



@media(max-width:1024px) {
    .main {
        width: 100%;
        margin-left: 370px;
    }
}


@media(max-width:768px) {
    .main {
        width: 50%;
        margin-top: 260px;
    }
}
@media(max-width:426px) {
    .main {
        width: 33%;
        margin-top: 50px;
    }
}
@media(max-width:376px) {
    .main {
        margin-bottom: 50px;
        width: 55%;
    }
}