.header {
    grid-area: header;
    background-color: white;
    color: black;
    padding: 2px;
    gap: 20px
}

.sideNav {
    grid-area: sidenav;
    position: fixed;
    margin-left: 0;
    margin-top: 200px;
    height: 40%;
    width: 300px;
    padding-top: 20px;
    text-align: center;
    /* background-color: #8fbd802f; */
    /* background: -webkit-linear-gradient(0deg, #b5dea4, #8fbd80, rgba(255, 255, 255, 0.692));
    background: linear-gradient(0deg, #b5dea4, #8fbd805b, rgba(255, 255, 255, 0.15)); */
    /* opacity: 50; */
    background-size: 175%;
    justify-content: start;
    align-items: center;
    padding: 2px;
    grid-column: 1 /2;
    border-radius: 5px;
}

.content {
    grid-area: content;
    /* background-color: white; */
    padding: 2px;
    gap: 20px
}

.footer {
    grid-area: footer;
    background-color: white;
    padding: 2px;
    grid-column: 1 /4;
    gap: 20px
}

.container {
    grid-template-areas: "header header header"
        "sidenav ",
        "content "
        "footer footer ";
}

.container {
    display:
        grid;
    grid-template-columns:
        300px auto 0px;
    grid-template-rows:
        100px 100% 90px;
    grid-template-areas:
        "header header""sidenav content""footer footer"
}