.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}

.swiper-slide img {
    display: block;
    width: 40%;
    height: 40%;
    object-fit: cover;
}

img {
    width: 20vw;
    height: 20vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.cardContainer {
    position: absolute;
    width: 280px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-in;
    margin-top: 160px;
    margin-left: 550px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.651);
    opacity: 9;
    border-radius: 5px;
    border-color: solid #447a37;
}

.loginPage {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: auto;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.cardContainer:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px -5px;
}

.imageContainer .imgFoto {
    overflow: hidden;
    height: 200px;
    background: -webkit-linear-gradient(0deg, #447a37, #8fbd80, #b5dea4);
    background: linear-gradient(0deg, #447a3771, #8fbd80, #b6dea455);

}

.cardcontent {
    margin: 1rem;
    margin-top: 0.5rem;
}

.cardTitle {
    color: #777F;
}