.header {
  width: 100%;
  display: flex;
  align-items: center;
  background: #447a37;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1),
  0px 10px 40px hwb(0 35% 45% / 0.06);
  position: fixed;
  margin: 0;
}

.header .logo {
  width: 10%;
  margin: 0;
}

.logoHeader {
  margin-left: 15px;
  width: 86px;
  height: 83px;
  top: 21px;
  left: 62px;
  color: #fff;
  transform: scale(1.5);
}

.nav {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}

.a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.a:hover {
  color: #000000;
}

.Button {
  width: 100px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #fff;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  background-color: #447a37;
  color: #fff;
}

.Button:hover {
  background-color: #ffff;
  color: #447a37;
}

.btnReserva {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  margin-left: 15px;
  color: #fff;
}

@media (max-width: 1024px) {
  .header {
    width: 91%;
  }

  .nav {
    width: 70%;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }

  .nav {
    width: 55%;
  }
}

@media (max-width: 426px) {
  .header {
    width: 240vw;
    flex-direction: column;
    height: 68vh;
  }

  .btnReserva {
    margin-left: -30px;
    margin-top: 5px;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 376px) {
  .header {
    width: 272vw;
    height: 68vh;
  }
}

@media (max-width: 321px) {
  .header {
    width: 318vw;
    height: 68vh;
  }
}
