.header {
  width: 98vw;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 40px hwb(0 35% 45% / 0.06);
  /* position: fixed; */
}

.header .logo {
  width: 10%;
  margin: 0;
}

.logo {
  width: 86px;
  height: 83px;
  top: 21px;
  left: 62px;
}

.nav {
  width: 75%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}

.nav .a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}

.a:hover {
  color: #447a37;
}

.Button {
  width: 100px;
  height: 35px;
  border-radius: 3px;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  background-color: #447a37;
}

.btnReserva {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  margin-left: 15px;
}


@media(max-width:768px) {
  .header {
    width: 133vw;
  }
}

@media(max-width:426px) {


  .header {
    width: 240vw;
    flex-direction: column;
    height: 68vh;

  }

  .btnReserva {
    margin-left: -30px;
    margin-top: 5px;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }
}

@media(max-width:376px) {
  .header {
    width: 272vw;
    height: 68vh;
  }
}


@media(max-width:321px) {
  .header {
    width: 318vw;
    height: 68vh;
  }
}