header {
  width: 100vw;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 40px rgba(0, 0, 0, 0.06);
}

header .logo {
  width: 10%;
  margin: 0;
}

.logo {
  width: 86px;
  height: 83px;
  top: 21px;
  left: 62px;
}

nav {
  width: 75%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.Button {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  background-color: #447a37;
}


div .btnReserva {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  margin-left: 15px;
}
