.textSide {
    padding: 20px;
    font-size: 15px;
    margin-bottom: 10px;
}

.imageSide {
    border-radius: 5px;
    height: 100px;
}

.h3 {
    margin: 5px;
}

.cardText {
    margin-top: 20px;
}