/* .sidebar .brand {
    height: 60px;
    font-size: 20px;
    color: white;
    font-weight: 900;
    line-height: .75;
    padding: 50px;
    margin-top: 50px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 40px hwb(0 35% 45% / 0.06);
} */

.textSide {
    padding: 20px;
    font-size: 15px;
    margin-bottom: 10px;
}

.imageSide {
    border-radius: 5px;
    height: 100px;
}

.h3 {
    margin: 5px;
}

.cardText {
    margin-top: 10px;
}