.footer{
    width: 100%;
    height: 400%;
    background-color:#daffc9;
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;*/
  
}

.img{
    width: 10%;
    height: 10%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.containerTexto{
    width: 70%;
    margin-top: 2%;
    margin-left:10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.contato{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icons{
    color: black;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.direitos{
    margin-top: 30px;
    text-align: center;
    margin-left: 10px;
}

.nav{
    margin-top: 23px;
}