.footer {
    margin-top: -145px;
    width: 100%;
    height: 380%;
    background-color: #ffffff;
    font-size: 15px;
}

.img {
    width: 6%;
    height: 6%;
    margin-top: 1px;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.containerTexto {
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 10px;

}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icons {
    color: black;

}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.direitos {
    margin-top: 5px;
    font-size: 10px;
    margin-left: 10px;
}

/* .politica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.primeiraDivisao {
    display: flex;
    flex-direction: row;
}