.section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}


.paragrafoInfo {
  margin: 10px;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  text-align: center;
  color: #373737;
}



@media(max-width:426px) {
  
  .section {
    margin-top: 200px; 
  }

.divImg {
  width: 800px;
  display: flex;
  gap: 50px;
  margin-top: 30px;

}}

