.section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.img {
  display: flex;
  width: 750px;
  height: 300px;
  align-items: center;
}

.p {
  margin: 10px auto;
}

.divImg {
  width: 800px;
  display: flex;
  gap: 50px;
  margin-top: 30px;
}
