/* .containerQuartos {
    display: flex;
    gap: 20px;
}

.cardsQuartos {
    border: solid;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 40px hwb(0 35% 45% / 0.06);
    height: 100px;
    width: 20px;
    border-radius: 10px;
    border-radius: 10px 10px 0 0
}

.cardBody {
    border: solid;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 40px hwb(0 35% 45% / 0.06);
    height: 100px;
    width: 20px;
    border-radius: 10px;
    border-radius: 10px 10px 0 0
} */