.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: -webkit-linear-gradient(0deg, #447a37, #8fbd80, #b5dea4);
    background: linear-gradient(0deg, #447a3771, #8fbd80, #b6dea455);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}


.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: -webkit-linear-gradient(0deg, #447a37, #8fbd80, #b5dea4);
    background: linear-gradient(0deg, #447a3771, #8fbd80, #b6dea455);
}

.titleForm{
    font-size: 1.8rem;
    color: rgb(49, 48, 48);
}

.selectDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(49, 48, 48);
    width: 35rem;
    height: 35rem;
    border-radius: 0.5em;
    margin-right: -5rem;
    
}

.containerDatas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30vw;
    gap: 4rem;
    border-radius: 1rem;
}

.dataEntrada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 9rem;
    gap: 0.5rem;
}

.containerSelectPattern {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 35vw;
    height: 70vh;
    color: rgb(49, 48, 48);
    margin-top: 3rem;
}

.selectPattern {
    width: 26.6rem;
    height: 4rem;
    color: rgb(49, 48, 48);
    border: solid 0.1rem black;
    text-align: left;
    background-color: #c8e2bf;
    border-radius: 0.5em;
    border: solid 0.1rem black;
}

.dataSaida{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputPattern{
    width: 10rem;
    height: 2rem;
    color: rgb(49, 48, 48);
    border: solid 0.1rem black;
    text-align: center;
    background: -webkit-linear-gradient(0deg, #447a37, #8fbd80, #b5dea4);
    background: linear-gradient(0deg, #447a3771, #8fbd80, #b6dea455);
    font-size: 1rem;
    border-radius: 0.5rem;
    border: solid 0.1rem black;
    
}


.containerCodigos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

.containerCodCorporativo{
    width: 15vw;
    height: 4rem;
    color: rgb(49, 48, 48);
    border: solid 0.1rem black;
    text-align: center;
    background-color: #c8e2bf;
    border-radius: 0.5rem;
    border: solid 0.1rem black;
}

.containerCodGrupo{
    width: 15vw;
    height: 4rem;
    color: rgb(49, 48, 48);
    border: solid 0.1rem black;
    text-align: center;
    background-color: #c8e2bf;
    border-radius: 0.5rem;
    border: solid 0.1rem black;
}

.btnEnviarReserva{
    cursor: pointer;
    width: 20vw;
    height: 4rem;
    color: rgb(49, 48, 48);
    border: solid 0.1rem black;
    background-color: #c8e2bf;
    text-align: center;
    border-radius: 0.5rem;
    border: solid 0.1rem black;
}


.containerCheckBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: rgb(49, 48, 48);
    width: 26.6rem;
    gap: 0.3rem;
}

.inputCheckBox{
    background-color: black;
}

.labelCheckBox{
    font-size: 0.8rem;
}

.logo{
    height: 15rem;
}

.containerVoltar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 35rem;
}

.x_voltar{
    height: 2rem;
    width: 2rem;
    margin-top: -5rem;
    margin-left: -6rem;
}

.optionPattern{
    background-color: #c8e2bf;
    color: rgb(49, 48, 48);
}


