/* section div form {
  display: flex;
}

form h3 {
  margin: auto;
}

form {
  width: 420px;
  height: 570;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
}

form label {
  margin-top: 20px;
}

form input {
  height: 35px;
}

form textarea {
  margin-top: 20px;
  max-width: 400px;
  min-width: 200px;
  min-height: 150px;
  max-height: 100px;
}

.Button {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin: 15px auto;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #b5dea4;
} */