.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imput{
    border-radius: 5px;
    border: 1px solid #437a37;
    height: 30px;
    width: 200px;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.botao{
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #437a37;
    height: 30px;
    width: 100px;
    padding: 7px;
}