.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0ch;
    height: 110px;
    
   
}
.containerPai{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}
.imput{
    border-radius: 5px;
    border: 1px solid #808080;
    height: 30px;
    width: 200px;
    padding: 7px;
    margin-right: 10px;
   }

/*.button{
    margin-top: -20px;
}*/

.texto{
    margin-bottom: 1px;
}
