.text {
    align-items: center;
    justify-content: center;
}

.h2Reservas {
    padding: 0%;
    color: rgb(92, 90, 90);
    font-size: 15px;
    padding: 3px;
}

.btn {
    box-sizing: border-box;
    width: 70px;
    height: 30px;
    margin-left: 50px;
    background: -webkit-linear-gradient(0deg, #447a37, #8fbd80, #b5dea4);
    background: linear-gradient(0deg, #447a3771, #8fbd80, #b6dea455);
    border-radius: 5px;
    color: rgb(92, 90, 90);
}

.btnDelete {
    box-sizing: border-box;
    width: 70px;
    height: 30px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(0deg, #447a37, #8fbd80, #b5dea4);
    background: linear-gradient(0deg, #447a3771, #8fbd80, #b6dea455);
    border-radius: 5px;
    color: rgb(92, 90, 90);
}