.sectionTextQuartos {
    height: 200px;
    border-width: 20px;
    float: left;
    margin-top: 100px;
    align-items: center;
    text-align: center;
}

.titleQuarto {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #373737;
}

.subTitleQuarto {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #373737;
}

.paragrafoQuarto {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #373737;
}

.containerQuartos2 {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    max-width: 100%;
    padding: auto;
    gap: 80px;
    margin-left: 90px;
}


.cardQuarto {
    height: 510px;
    width: 360px;
    box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
    border-radius: 5px solid black;
    border-width: 30px;
    float: left;
}

.cardTitleQ {
    width: 360px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #373737;
}

.cardTextQ {
    width: 360px;
    margin-top: 10px;
    text-align: center;
    color: #373737;
}

.price {
    width: 360px;
    margin-top: 20px;
    text-align: center;
    color: #373737;
}

.cardImgTop {
    width: 25vw;
    height: 35vh;
}

.btnPrice {
    margin-top: 25px;
    text-align: center;
    align-items: center;
    margin-left: 140px;
    /* color: #373737; */
    width: 100px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #fff;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background-color: #447a37;
    color: #fff;
}

.footerQuarto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 40px hwb(0 35% 45% / 0.06);
    width: 100%;
    height: 40px;
    gap: 20px;
}

@media(max-width:375px) {
    .containerQuartos2 {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        max-width: 100%;
        padding: auto;
        /* gap: 80px; */
        margin-left: 40px;
    }

    .sectionTextQuartos {
        height: 50px;
        border-width: 20px;
        float: left;
        margin-top: 10px;
        margin-right: 25px;
        align-items: center;
        text-align: center;
        font-size: 10px;

    }

    .cardTitleQ {
        width: 300px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #373737;
        font-size: 10px;

    }

    .cardTextQ {
        width: 300px;
        margin-top: 10px;
        text-align: center;
        color: #373737;
        font-size: 10px;
    }

    .price {
        width: 300px;
        margin-top: 20px;
        text-align: center;
        color: #373737;
        font-size: 10px;

    }

    .cardImgTop {
        width: 40vw;
        height: 20vh;
        align-items: center;
        margin-left: 70px;
    }

    .btnPrice {
        margin-top: 25px;
        text-align: center;
        align-items: center;
        margin-left: 100px;
        /* color: #373737; */
        width: 100px;
        height: 35px;
        border-radius: 3px;
        border: 1px solid #fff;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        background-color: #447a37;
        color: #fff;
    }

    .titleQuarto {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
    }

    .subTitleQuarto {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
    }

    .paragrafoQuarto {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
    }

    .cardQuarto {
        height: 500px;
        width: 300px;
        box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
        border-radius: 5px solid black;
        border-width: 30px;
        float: left;
        margin-top: 10px;
    }
}

@media(max-width:390px) and (min-width: 375px) {
    .containerQuartos2 {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        max-width: 100%;
        padding: auto;
        /* gap: 80px; */
        margin-left: 40px;
    }

    .sectionTextQuartos {
        height: 50px;
        border-width: 20px;
        float: left;
        margin-top: 10px;
        margin-right: 25px;
        align-items: center;
        text-align: center;
        font-size: 10px;

    }

    .cardTitleQ {
        width: 300px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
        font-size: 10px;

    }

    .cardTextQ {
        width: 300px;
        margin-top: 10px;
        text-align: center;
        color: #373737;
        font-size: 10px;
    }

    .price {
        width: 300px;
        margin-top: 20px;
        text-align: center;
        color: #373737;
        font-size: 10px;

    }

    .cardImgTop {
        width: 40vw;
        height: 20vh;
        align-items: center;
        margin-left: 70px;
    }

    .btnPrice {
        margin-top: 25px;
        text-align: center;
        align-items: center;
        margin-left: 100px;
        /* color: #373737; */
        width: 100px;
        height: 35px;
        border-radius: 3px;
        border: 1px solid #fff;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        background-color: #447a37;
        color: #fff;
    }

    .titleQuarto {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #373737;
    }

    .subTitleQuarto {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
    }

    .paragrafoQuarto {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
    }

    .cardQuarto {
        height: 300px;
        width: 300px;
        box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
        border-radius: 5px solid black;
        border-width: 30px;
        float: left;
        margin-top: 0px;
    }
}

@media(max-width:427px) and (min-width: 390px) {
    .containerQuartos2 {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        max-width: 100%;
        padding: auto;
        /* gap: 80px; */
        margin-left: 40px;
    }

    .sectionTextQuartos {
        height: 50px;
        border-width: 20px;
        float: left;
        margin-top: 90px;
        margin-right: 25px;
        align-items: center;
        text-align: center;
        font-size: 10px;

    }

    .cardTitleQ {
        width: 300px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #373737;
        font-size: 10px;

    }

    .cardTextQ {
        width: 300px;
        margin-top: 10px;
        text-align: center;
        color: #373737;
        font-size: 10px;
    }

    .price {
        width: 300px;
        margin-top: 20px;
        text-align: center;
        color: #373737;
        font-size: 10px;

    }

    .cardImgTop {
        width: 40vw;
        height: 20vh;
        align-items: center;
        margin-left: 70px;
    }

    .btnPrice {
        margin-top: 25px;
        text-align: center;
        align-items: center;
        margin-left: 100px;
        /* color: #373737; */
        width: 100px;
        height: 35px;
        border-radius: 3px;
        border: 1px solid #fff;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        background-color: #447a37;
        color: #fff;
    }

    .titleQuarto {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
    }

    .subTitleQuarto {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
    }

    .paragrafoQuarto {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
    }

    .cardQuarto {
        height: 300px;
        width: 300px;
        box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
        border-radius: 5px solid black;
        border-width: 30px;
        float: left;
        margin-top: 20px;
        margin-left: 27px;
    }
}

@media(max-width:768px) and (min-width: 427px) {
    .containerQuartos2 {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        max-width: 100%;
        padding: auto;
        /* gap: 80px; */
        margin-left: 40px;
    }

    .sectionTextQuartos {
        height: 50px;
        border-width: 20px;
        float: left;
        margin-top: 90px;
        margin-right: 25px;
        align-items: center;
        text-align: center;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .cardTitleQ {
        width: 300px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #373737;
        font-size: 15px;


    }

    .cardTextQ {
        width: 300px;
        margin-top: 10px;
        text-align: center;
        color: #373737;
        font-size: 15px;
    }

    .price {
        width: 300px;
        margin-top: 20px;
        text-align: center;
        color: #373737;
        font-size: 15px;


    }

    .cardImgTop {
        width: 36vw;
        height: 20vh;
        align-items: center;
        margin-left: 16px;
    }

    .btnPrice {
        margin-top: 25px;
        text-align: center;
        align-items: center;
        margin-left: 100px;
        /* color: #373737; */
        width: 100px;
        height: 35px;
        border-radius: 3px;
        border: 1px solid #fff;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        background-color: #447a37;
        color: #fff;
    }

    .titleQuarto {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
    }

    .subTitleQuarto {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
    }

    .paragrafoQuarto {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
    }

    .cardQuarto {
        height: 500px;
        width: 300px;
        box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
        border-radius: 5px solid black;
        border-width: 30px;
        float: left;
        margin-top: 20px;
        margin-left: 1000px;
    }
}

@media(max-width:820px) and (min-width: 768px) {
    .containerQuartos2 {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        max-width: 100%;
        padding: auto;
        /* gap: 80px; */
        margin-left: 40px;
    }

    .sectionTextQuartos {
        height: 50px;
        border-width: 20px;
        float: left;
        margin-top: 90px;
        margin-right: 25px;
        align-items: center;
        text-align: center;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .cardTitleQ {
        width: 300px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #373737;
        font-size: 15px;


    }

    .cardTextQ {
        width: 300px;
        margin-top: 10px;
        text-align: center;
        color: #373737;
        font-size: 15px;
    }

    .price {
        width: 300px;
        margin-top: 20px;
        text-align: center;
        color: #373737;
        font-size: 15px;


    }

    .cardImgTop {
        width: 36vw;
        height: 20vh;
        align-items: center;
        margin-left: 1px;
    }

    .btnPrice {
        margin-top: 25px;
        text-align: center;
        align-items: center;
        margin-left: 100px;
        /* color: #373737; */
        width: 100px;
        height: 35px;
        border-radius: 3px;
        border: 1px solid #fff;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        background-color: #447a37;
        color: #fff;
    }

    .titleQuarto {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
    }

    .subTitleQuarto {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
    }

    .paragrafoQuarto {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #373737;
    }

    .cardQuarto {
        height: 500px;
        width: 300px;
        box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
        border-radius: 5px solid black;
        border-width: 30px;
        float: left;
        margin-top: 20px;
        margin-left: 27px;
    }
}