.divCadastroHospede {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-image: URL{}; */
}

.quarto {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 9;
}

.sectionContent {
    flex: 30%;
    padding-left: 100px;
}

.sectionFormHospede {
    flex: 30%;
    padding-right: 40px;
    border-color: #b5dea4;
}

.sectionForm {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    margin-left: -100px;

}

.sectionText {
    position: absolute;
    width: 35vw;
    height: 80%;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    background: -webkit-linear-gradient(0deg, #b5dea4, #8fbd80, rgba(255, 255, 255, 0.692));
    background: linear-gradient(0deg, #b5dea4, #8fbd805b, rgba(255, 255, 255, 0.15));
    gap: 20px;
    border-radius: 0.5em;
    color: rgb(58, 57, 57);
    padding: 70px;
    font-size: 10px;
}

.logo {
    width: 10vw;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}

.h2Hospede {
    margin: 10px;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    text-align: center;
    color: #373737;
}

@media (max-width: 375px) {
    .divCadastroHospede {
        display: block;
        flex-direction: row;
    }

    .sectionContent {
        width: 100%;
        padding-left: 0;
    }

    .sectionText {
        width: 100%;
        top: 0;
        padding: 10px;
        flex: unset;
    }

    .h2Hospede {
        font-size: 10px;
        /* line-height: 1.5rem; */
        text-align: center;
        color: #373737;
    }

    .sectionFormHospede {
        width: 100%;
        flex: auto;
        padding-right: 0;
    }

    .sectionForm {
        width: 100%;
        top: 0;
        display: block;
        margin-left: 0;
    }
}